<div class="col-md-3 grid-top simpleCart_shelfItem">
  <a href="single.html" class="b-link-stripe b-animate-go  thickbox">
    <img class="img-responsive">
    <div class="b-wrapper">
      <h3 class="b-animate b-from-left    b-delay03 ">
        <span> <%= link_to product.title, product_path(product) %></span>
      </h3>
    </div>
  </a>
  <p><%= link_to product.title, product_path(product) %></p>
  <a href="#" class="item_add">
    <p class="number item_price"><i></i><%= number_to_currency(product.price, unit: "грн.", format: '%n %u') %></p>
  </a>
</div>