<div class="banner">
  <div class="container">
    <script src="js/responsiveslides.min.js"></script>
    <script>
        $(function () {
            $("#slider").responsiveSlides({
                auto: true,
                nav: true,
                speed: 500,
                namespace: "callbacks",
                pager: true,
            });
        });
    </script>
    <div  id="top" class="callbacks_container">
      <ul class="rslides" id="slider">
        <li>
          <div class="banner-text">
            <h3>Lorem Ipsum is   </h3>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
          </div>
        </li>
        <li>
          <div class="banner-text">
            <h3>There are many  </h3>
            <p>Popular belief Contrary to , Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC.</p>
          </div>
        </li>
        <li>
          <div class="banner-text">
            <h3>Sed ut perspiciatis</h3>
            <p>Lorem Ipsum is not simply random text. Contrary to popular belief, It has roots in a piece of classical Latin literature from 45 BC.</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="content-top">
  <h1>NEW PRODUCTS</h1>
  <div class="grid-in">
    <%= render @product %>
    <div class="clearfix"> </div>
  </div>
</div>
